html , body{
    height: 100%;
}

.bg{
    background-image: url(../img/bg.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cardWeather{
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: #ffffff7a;
    box-shadow: 15px 16px 95px #383737;
}

.bodyWeather{
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnHide{
    display: none;
}